body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.heading-3{
    font-size: 1.75rem;
}

.heading-4{
    font-size: 1.5rem;
}

.heading-5{
    font-size: 1.25rem;
}

.heading-6{
    font-size: 1rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: darkblue;
    color: white;
    border-radius: 50%;
}

#btn-back-to-top p{
    display: none;
}

#btn-back-to-top:hover{
    background-color: #3232a2;
}

.navbar-brand img{
    height: 25px;
    margin-right: 20px;
}

a.navbar-brand {
    display: contents;
}

.navbar{
    background-color: var(--bs-tertiary-bg);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.brand-name-menu{
    display: none;
} 

#footer{
    background-color: var(--bs-tertiary-bg);
    padding: 15px 0 15px 0;
    text-align: center;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
}

.profile{
    padding: 50px 30px 0 30px;
}

.profile-data{
    margin-bottom: 50px;
}

.profile-data img{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   margin-bottom: 20px;
}

.profile-data .heading-5{
   color: dimgray;
}

.profile-data .heading-6{
    color: darkblue;
 }

 .profile-data a:hover{
    text-decoration: underline;
    text-decoration-color: darkblue;
 }
 
.profile-data div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.profile-data .social-media-icons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
}

.fa-github{
    font-size: 34px;
}

.fa-github:hover{
    color: rgba(0, 0, 0, 0.65);
}

.fa-linkedin:hover{
    background-color: rgba(0, 0, 0, 0.65);
}

.fa-linkedin{
    font-size: 35px;
}

.about-me-section{
    font-size: 18px;
}

.about-me-section .heading-3{
    display: inline-block;
}

.current-teaching-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.course .heading-4{
    font-weight: 600;
}
.current-subjects{
    padding-top: 20px;
}

.current-subjects div{
    margin-bottom: 10px;
}

.news{
    padding: 10px 30px 20px 30px;
}

.news-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.news-content-row .heading-4{
    font-weight: 600;
}

.news-title{
    margin-top: 10px;
}

.news-title i{
    font-size: 24px;
    margin-right: 10px
}

.news-title .heading-3{
    display: inline-block;
}

.news-content{
    padding-top: 20px;
    border-top: 1px solid lightgray;
}

.news-content div{
    margin-bottom: 10px;
}


@media screen and (max-width: 425px) {
    .brand-name{
        display: none;
    }

    .brand-name-menu{
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
    }
}